In [1]:
import os

In [2]:
os.getcwd()

'/home/pd2669/data-engineering-zoomcamp-gcp/05-batch/code'

In [3]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import types

In [4]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/02 21:21:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
spark.version

'3.5.1'

In [6]:
!ls -lh ./data/raw/fhv/

total 19M
-rw-rw-r-- 1 pd2669 pd2669 19M Mar  2 19:48 fhv_tripdata_2019-10.csv.gz

In [7]:
!ls -lh ./data/raw/fhv/fhv_tripdata_2019-10.csv.gz

-rw-rw-r-- 1 pd2669 pd2669 19M Mar  2 19:48 ./data/raw/fhv/fhv_tripdata_2019-10.csv.gz

In [11]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('hvfhs_license_num', types.StringType(), True),
])

In [12]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True),
])

In [14]:
!ls -lhR ./fhvhv/

./fhvhv/:
total 4.0K
drwxr-xr-x 3 pd2669 pd2669 4.0K Mar  2 10:16 2021

./fhvhv/2021:
total 4.0K
drwxr-xr-x 2 pd2669 pd2669 4.0K Mar  2 10:17 01

./fhvhv/2021/01:
total 226M
-rw-r--r-- 1 pd2669 pd2669    0 Mar  2 10:17 _SUCCESS
-rw-r--r-- 1 pd2669 pd2669 9.4M Mar  2 10:16 part-00000-fee89bcd-ad50-497f-8503-2505b779b3af-c000.snappy.parquet
-rw-r--r-- 1 pd2669 pd2669 9.4M Mar  2 10:16 part-00001-fee89bcd-ad50-497f-8503-2505b779b3af-c000.snappy.parquet
-rw-r--r-- 1 pd2669 pd2669 9.4M Mar  2 10:16 part-00002-fee89bcd-ad50-497f-8503-2505b779b3af-c000.snappy.parquet
-rw-r--r-- 1 pd2669 pd2669 9.4M Mar  2 10:16 part-00003-fee89bcd-ad50-497f-8503-2505b779b3af-c000.snappy.parquet
-rw-r--r-- 1 pd2669 pd2669 9.4M Mar  2 10:16 part-00004-fee89bcd-ad50-497f-8503-2505b779b3af-c000.snappy.parquet
-rw-r--r-- 1 pd2669 pd2669 9.4M Mar  2 10:16 part-00005-fee89bcd-ad50-497f-8503-2505b779b3af-c000.snappy.parquet
-rw-r--r-- 1 pd2669 pd2669 9.4M Mar  2 10:17 part-00006-fee89bcd-ad50-497f-8503-2505b779b3af-c000.snappy.parquet
-rw-r--r-- 1 pd2669 pd2669 9.4M Mar  2 10:17 part-00007-fee89bcd-ad50-497f-8503-2505b779b3af-c000.snappy.parquet
-rw-r--r-- 1 pd2669 pd2669 9.4M Mar  2 10:17 part-00008-fee89bcd-ad50-497f-8503-2505b779b3af-c000.snappy.parquet
-rw-r--r-- 1 pd2669 pd2669 9.4M Mar  2 10:17 part-00009-fee89bcd-ad50-497f-8503-2505b779b3af-c000.snappy.parquet
-rw-r--r-- 1 pd2669 pd2669 9.4M Mar  2 10:17 part-00010-fee89bcd-ad50-497f-8503-2505b779b3af-c000.snappy.parquet
-rw-r--r-- 1 pd2669 pd2669 9.4M Mar  2 10:17 part-00011-fee89bcd-ad50-497f-8503-2505b779b3af-c000.snappy.parquet
-rw-r--r-- 1 pd2669 pd2669 9.4M Mar  2 10:17 part-00012-fee89bcd-ad50-497f-8503-2505b779b3af-c000.snappy.parquet
-rw-r--r-- 1 pd2669 pd2669 9.4M Mar  2 10:17 part-00013-fee89bcd-ad50-497f-8503-2505b779b3af-c000.snappy.parquet
-rw-r--r-- 1 pd2669 pd2669 9.4M Mar  2 10:17 part-00014-fee89bcd-ad50-497f-8503-2505b779b3af-c000.snappy.parquet
-rw-r--r-- 1 pd2669 pd2669 9.4M Mar  2 10:17 part-00015-fee89bcd-ad50-497f-8503-2505b779b3af-c000.snappy.parquet
-rw-r--r-- 1 pd2669 pd2669 9.4M Mar  2 10:17 part-00016-fee89bcd-ad50-497f-8503-2505b779b3af-c000.snappy.parquet
-rw-r--r-- 1 pd2669 pd2669 9.4M Mar  2 10:17 part-00017-fee89bcd-ad50-497f-8503-2505b779b3af-c000.snappy.parquet
-rw-r--r-- 1 pd2669 pd2669 9.4M Mar  2 10:17 part-00018-fee89bcd-ad50-497f-8503-2505b779b3af-c000.snappy.parquet
-rw-r--r-- 1 pd2669 pd2669 9.4M Mar  2 10:17 part-00019-fee89bcd-ad50-497f-8503-2505b779b3af-c000.snappy.parquet
-rw-r--r-- 1 pd2669 pd2669 9.4M Mar  2 10:17 part-00020-fee89bcd-ad50-497f-8503-2505b779b3af-c000.snappy.parquet
-rw-r--r-- 1 pd2669 pd2669 9.4M Mar  2 10:17 part-00021-fee89bcd-ad50-497f-8503-2505b779b3af-c000.snappy.parquet
-rw-r--r-- 1 pd2669 pd2669 9.4M Mar  2 10:17 part-00022-fee89bcd-ad50-497f-8503-2505b779b3af-c000.snappy.parquet
-rw-r--r-- 1 pd2669 pd2669 9.4M Mar  2 10:17 part-00023-fee89bcd-ad50-497f-8503-2505b779b3af-c000.snappy.parquet

In [27]:
# df = spark.read \
#     .option("header", "true") \
#     .schema(schema) \
#     .csv('./data/raw/fhv/fhv_tripdata_2019-10.csv.gz')

# df = df.repartition(6)

# df.write.mode("overwrite").parquet('./data/pq/fhv/2019/10')

In [26]:
df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv('./data/raw/fhv/fhv_tripdata_2019-10.csv.gz')

df = df.repartition(6)

df.write.mode("overwrite").parquet('./data/pq/fhv/2019/10')

**Q2**:
What is the average size of the Parquet (ending with .parquet extension) Files that were created (in MB)? Select the answer which most closely matches.

1MB
6MB
25MB
87MB

In [28]:
!ls -lhR ./data/pq/fhv/

./data/pq/fhv/:
total 4.0K
drwxr-xr-x 3 pd2669 pd2669 4.0K Mar  2 21:33 2019

./data/pq/fhv/2019:
total 4.0K
drwxr-xr-x 2 pd2669 pd2669 4.0K Mar  2 21:33 10

./data/pq/fhv/2019/10:
total 39M
-rw-r--r-- 1 pd2669 pd2669    0 Mar  2 21:33 _SUCCESS
-rw-r--r-- 1 pd2669 pd2669 6.4M Mar  2 21:33 part-00000-5b087c80-6b11-4c54-b5d8-df4030b25c47-c000.snappy.parquet
-rw-r--r-- 1 pd2669 pd2669 6.4M Mar  2 21:33 part-00001-5b087c80-6b11-4c54-b5d8-df4030b25c47-c000.snappy.parquet
-rw-r--r-- 1 pd2669 pd2669 6.4M Mar  2 21:33 part-00002-5b087c80-6b11-4c54-b5d8-df4030b25c47-c000.snappy.parquet
-rw-r--r-- 1 pd2669 pd2669 6.4M Mar  2 21:33 part-00003-5b087c80-6b11-4c54-b5d8-df4030b25c47-c000.snappy.parquet
-rw-r--r-- 1 pd2669 pd2669 6.4M Mar  2 21:33 part-00004-5b087c80-6b11-4c54-b5d8-df4030b25c47-c000.snappy.parquet
-rw-r--r-- 1 pd2669 pd2669 6.4M Mar  2 21:33 part-00005-5b087c80-6b11-4c54-b5d8-df4030b25c47-c000.snappy.parquet

In [29]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', TimestampType(), True), StructField('dropOff_datetime', TimestampType(), True), StructField('PUlocationID', IntegerType(), True), StructField('DOlocationID', IntegerType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

**Q3**:

How many taxi trips were there on the 15th of October?

Consider only trips that started on the 15th of October.

In [30]:
from pyspark.sql import functions as F

In [31]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .filter("pickup_date = '2019-10-15'") \
    .count()

62610

In [39]:
df.registerTempTable('fhv_2019_10')

In [40]:
spark.sql("""
SELECT
    COUNT(1)
FROM 
    fhv_2019_10
WHERE
    to_date(pickup_datetime) = '2019-10-15';
""").show()

+--------+
|count(1)|
+--------+
|   62610|
+--------+

**Q4**: Longest trip for each day

In [34]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', TimestampType(), True), StructField('dropOff_datetime', TimestampType(), True), StructField('PUlocationID', IntegerType(), True), StructField('DOlocationID', IntegerType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [35]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropOff_datetime',
 'PUlocationID',
 'DOlocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [37]:
df \
    .withColumn('duration', df.dropOff_datetime.cast('long') - df.pickup_datetime.cast('long')) \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .groupBy('pickup_date') \
        .max('duration') \
    .orderBy('max(duration)', ascending=False) \
    .limit(5) \
    .show()

+-----------+-------------+
|pickup_date|max(duration)|
+-----------+-------------+
| 2019-10-28|   2272149000|
| 2019-10-11|   2272149000|
| 2019-10-31|    315620787|
| 2019-10-01|    252460901|
| 2019-10-17|     31658400|
+-----------+-------------+

In [38]:
df_with_duration = df.withColumn('duration_seconds', F.unix_timestamp('dropOff_datetime') - F.unix_timestamp('pickup_datetime')) \
                     .withColumn('pickup_date', F.to_date('pickup_datetime'))

result = df_with_duration.groupBy('pickup_date') \
                          .agg(F.max('duration_seconds').alias('max_duration_seconds'))

result_with_hours = result.withColumn('max_duration_hours', F.col('max_duration_seconds') / 3600) \
                          .orderBy('max_duration_hours', ascending=False) \
                          .limit(5)

result_with_hours.show()

+-----------+--------------------+------------------+
|pickup_date|max_duration_seconds|max_duration_hours|
+-----------+--------------------+------------------+
| 2019-10-28|          2272149000|          631152.5|
| 2019-10-11|          2272149000|          631152.5|
| 2019-10-31|           315620787| 87672.44083333333|
| 2019-10-01|           252460901| 70128.02805555555|
| 2019-10-17|            31658400|            8794.0|
+-----------+--------------------+------------------+

In [42]:
spark.sql("""
SELECT
    to_date(pickup_datetime) AS pickup_date,
    MAX((CAST(dropoff_datetime AS LONG) - CAST(pickup_datetime AS LONG)) / 3600) AS duration
FROM 
    fhv_2019_10
GROUP BY
    1
ORDER BY
    2 DESC
LIMIT 10;
""").show()

+-----------+------------------+
|pickup_date|          duration|
+-----------+------------------+
| 2019-10-28|          631152.5|
| 2019-10-11|          631152.5|
| 2019-10-31| 87672.44083333333|
| 2019-10-01| 70128.02805555555|
| 2019-10-17|            8794.0|
| 2019-10-26| 8784.166666666666|
| 2019-10-30|1464.5344444444445|
| 2019-10-25|1056.8266666666666|
| 2019-10-02| 769.2313888888889|
| 2019-10-23| 745.6166666666667|
+-----------+------------------+

**Q6**: Least frequent pickup location zone

Load the zone lookup data into a temp view in Spark
Zone Data

Using the zone lookup data and the FHV October 2019 data, what is the name of the LEAST frequent pickup location Zone?

East Chelsea
Jamaica Bay
Union Sq
Crown Heights North

In [43]:
spark.sql("""
SELECT
    PUlocationID,
    COUNT(1)
FROM 
    fhv_2019_10
GROUP BY
    1
ORDER BY
    2 DESC
LIMIT 5;
""").show()

+------------+--------+
|PUlocationID|count(1)|
+------------+--------+
|         264| 1500773|
|          92|   12183|
|         129|   10952|
|         265|   10235|
|         132|    9307|
+------------+--------+

In [44]:
df \
    .groupBy('PUlocationID') \
        .count() \
    .orderBy('count', ascending=False) \
    .limit(5) \
    .show()

+------------+-------+
|PUlocationID|  count|
+------------+-------+
|         264|1500773|
|          92|  12183|
|         129|  10952|
|         265|  10235|
|         132|   9307|
+------------+-------+

In [45]:
df_zones = spark.read.parquet('zones')

In [46]:
df_zones.schema

StructType([StructField('LocationID', StringType(), True), StructField('Borough', StringType(), True), StructField('Zone', StringType(), True), StructField('service_zone', StringType(), True)])

In [47]:
df_zones.columns

['LocationID', 'Borough', 'Zone', 'service_zone']

In [48]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropOff_datetime',
 'PUlocationID',
 'DOlocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [49]:
df_zones.registerTempTable('zones')

In [57]:
spark.sql("""
SELECT
  fhv.PULocationID,
  pul.LocationID,
  fhv.DOLocationID,
  dol.LocationID,
  pul.Borough,
  pul.Zone,
  dol.Borough,
  dol.Zone,
  COUNT(1)
FROM 
  fhv_2019_10 AS fhv

LEFT JOIN
  zones AS pul
ON
  fhv.PULocationID = pul.LocationID

LEFT JOIN
  zones AS dol
ON
  fhv.DOLocationID = dol.LocationID

GROUP BY 
    1, 2, 3, 4, 5, 6, 7, 8

ORDER BY
    9 ASC

LIMIT 5;
""").show()

+------------+----------+------------+----------+--------+---------------+---------+--------------------+--------+
|PULocationID|LocationID|DOLocationID|LocationID| Borough|           Zone|  Borough|                Zone|count(1)|
+------------+----------+------------+----------+--------+---------------+---------+--------------------+--------+
|         257|       257|         234|       234|Brooklyn|Windsor Terrace|Manhattan|            Union Sq|       1|
|         126|       126|         143|       143|   Bronx|    Hunts Point|Manhattan| Lincoln Square West|       1|
|         223|       223|         113|       113|  Queens|       Steinway|Manhattan|Greenwich Village...|       1|
|         198|       198|          66|        66|  Queens|      Ridgewood| Brooklyn|  DUMBO/Vinegar Hill|       1|
|         192|       192|         148|       148|  Queens|Queensboro Hill|Manhattan|     Lower East Side|       1|
+------------+----------+------------+----------+--------+---------------+---------+--------------------+--------+

In [60]:
spark.sql("""
SELECT
  fhv.PULocationID,
  pul.LocationID,
  pul.Zone,
  COUNT(1)
FROM 
  fhv_2019_10 AS fhv

LEFT JOIN
  zones AS pul
ON
  fhv.PULocationID = pul.LocationID

LEFT JOIN
  zones AS dol
ON
  fhv.DOLocationID = dol.LocationID

GROUP BY 
    1, 2, 3

ORDER BY
    4 ASC

LIMIT 5;
""").show()

+------------+----------+--------------------+--------+
|PULocationID|LocationID|                Zone|count(1)|
+------------+----------+--------------------+--------+
|           2|         2|         Jamaica Bay|       1|
|         105|       105|Governor's Island...|       2|
|         111|       111| Green-Wood Cemetery|       5|
|          30|        30|       Broad Channel|       8|
|         120|       120|     Highbridge Park|      14|
+------------+----------+--------------------+--------+

**BONUS**: Most common locations pair

In [61]:
df_zones = spark.read.parquet('zones')

In [62]:
df_zones.columns

['LocationID', 'Borough', 'Zone', 'service_zone']

In [63]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropOff_datetime',
 'PUlocationID',
 'DOlocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [64]:
df_zones.registerTempTable('zones')

In [65]:
spark.sql("""
SELECT
    CONCAT(pul.Zone, ' / ', dol.Zone) AS pu_do_pair,
    COUNT(1)
FROM 
    fhvhv_2021_02 fhv LEFT JOIN zones pul ON fhv.PULocationID = pul.LocationID
                      LEFT JOIN zones dol ON fhv.DOLocationID = dol.LocationID
GROUP BY 
    1
ORDER BY
    2 DESC
LIMIT 5;
""").show()

+--------------------+--------+
|          pu_do_pair|count(1)|
+--------------------+--------+
|             NV / NV|  341803|
|             NV / NA|   38677|
|  NV / East New York|   30540|
|NV / Williamsbrid...|   23154|
|NV / Washington H...|   21667|
+--------------------+--------+